VITE_UMS_BASE_URL=https://ums-672553132888.asia-south1.run.app
VITE_LMS_BASE_URL=https://live-class-lms1-672553132888.asia-south1.run.app
VITE_MULTIMEDIA_BASE_URL=https://prod-multimedia.polariscampus.com/mm/v3
# VITE_GOOGLE_CLIENT_ID=your-google-client-id

